#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.62);
  z-index: 999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

#loadingInnerWrapper {
  position: relative;
  // top: 23%;
  font-size: 6.85em;
  color: #1677ff;
  text-align: center;
}

@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation($params...) {
  -webkit-animation: $params;
  -moz-animation: $params;
  -o-animation: $params;
  animation: $params;
}

@mixin filter($params...) {
  -webkit-filter: $params;
  -moz-filter: $params;
  filter: $params;
}

@include keyframe(blur) {
  from {
    @include filter((blur(0)));
    opacity: 1;
  }

  to {
    @include filter((blur(3px)));
    opacity: 0;
  }
}

#load1 {
  @include animation((blur alternate 1s infinite));
}

#load2 {
  @include animation((blur alternate 1s infinite 0.38s));
}

#load3 {
  @include animation((blur alternate 1s infinite 0.62s));
}
