.container-vefiry {
  width: 100vw;
  padding: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 400px;
  padding: 2rem;
  border-radius: 4px;

  .form-control {
    display: block;
    height: 50px;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.verify-form {
  height: 500px;
  width: 360px;
}

.verify {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}
